{% extends 'rental/base.html' %} 
{% load static %}

{% block title %} 

AXL Rental - Pending Booking

{% endblock %} 


{% block content %} 

<div class="card-body table-border-style">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Driver</th>
                    <th>Start Booking Date</th>
                    <th>End Booking Date</th>
                    <th>Mode of Payment</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{booking.car.car_name}}</td>
                    <td>{{booking.driver.driver_name | title}}</td>
                    <td>{{booking.startdate}}</td>
                    <td>{{booking.enddate}}</td>
                    {% if booking.is_cash %}
                        <td>Cash</td>
                    {% else %}
                        <td>Gcash</td>
                    {% endif %}
                    <td>₱{{booking.price}}</td>
                    <td>{{booking.booking_status}}</td>
                    <td>
                        {% if booking.is_cash %}
                            <a class="btn  btn-primary" href="{% url 'booking-details' booking.booking_id %}">View Booking Details</a>
                        {% elif booking.reference_number %}
                            <a class="btn  btn-primary" href="{% url 'booking-details' booking.booking_id %}">View Booking Details</a>
                        {% else %}
                            <a class="btn  btn-primary" href="{% url 'billing' booking.booking_id %}">Gcash Pay Here</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}